@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

* {
  font-family: 'Mulish', sans-serif;
  font-size: 25px;
	color: var(--textColor);
}

:root {
	--mainColor: #f392e6;
	--mainColorBlue: #6cc6fe;
	--textColor: #222222;
  --orange: #f5bd9c;

  --black: #222222;
  --violet: #4b4e6d;
}

.course-container {
  padding-top: 100px; 
  padding-bottom: 100px;
}

.course-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.course-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin-left: 80px;
}

.course-image {
  margin-right: 80px;
  z-index: -1; 
}

.course-image img {
  width: 700px;
  height: 500px;
  object-fit: cover;
  border-radius: 10%;
}

.course-benefit {
  text-align: left;
}

.course-benefit ul {
  max-width: 1000px; 
}

.additional-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  margin-top: 20px;
  margin-left: 170px;
  margin-right: 400px;
}

.specific-rules {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.important-icon {
  width: 200px;
  height: 200px;
}

.price-packages {
  text-align: left;
}

.trial-lesson-btn {
  margin-left: 20px;
}

.trial-lesson-btn a.btn {
  transform: none;
}

.slick-dots li button:before {
  font-size: 20px; 
}

/* Добавьте следующие стили для мобильных устройств */
@media (max-width: 768px) {
  .course-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .course-content {
    flex-direction: column;
    text-align: center;
    margin-left: 0;
  }

  .course-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .course-image img {
    width: 300px;
    height: 300px;
  }

  .course-benefit {
    margin-top: 20px;
    text-align: center;
  }

  .additional-info {
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
  }

  .specific-rules {
    margin-left: 0;
    margin-right: 0;
  }

  .important-icon {
    width: 150px;
    height: 150px;
  }

  .price-packages {
    text-align: center;
  }

  .trial-lesson-btn {
    margin-left: 0;
  }

  .trial-lesson-btn a.btn {
    transform: none;
  }
}

@media (max-width: 480px) {
  .course-image img {
    width: 250px;
    height: 250px;
  }
}


