.footer { 
  font-size: 18px;
  background-color: #f6d1f1;
}

.sb__footer {
  display: flex;
  flex-direction: column;
}

.sb__footer-links {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
  text-align: left; 
}

.sb__footer-links_div { 
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.socialmedia { 
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
  
.sb__footer-links_div p {
  line-height: 15px; 
  margin: 0.5rem 0; 
}

a {
  color: inherit;
  text-decoration: none;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.2); 
}

@media (max-width: 480px) {

  .sb__footer-links {
    justify-content: start; 
  }

  .sb__footer {
    display: flex;
    flex-direction: row;
  }

	a {
		font-size: 18px;
	}
}